.msg-box {
  margin: 10px auto;
  width: 688px;
  box-shadow: 1px;
  border: 1px solid #a9a9a9;
}
.city {
  border: 1px solid #a9a9a9;
  border-radius: 3px;
  display: flex;
  width: 688px;
  margin: 0 auto;
}

.hot-city {
  padding: 15px;
  text-align: center;
}

.city ul {
  flex: 1;
}

.city li {
  list-style-type: none;
  display: inline-block;
}

.city a {
  padding: 0 30px;
  text-decoration: none;
  color: indianred;
}

.msg {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 5px;
}

.rel-title {
  text-align: left;
  padding: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
}

.announcer {
  display: flex;
}

.announce-time {
  text-align: right;
  margin-right: 10px;
  margin-top: -40px;
}

.announcer a {
  text-decoration: none;
  color: black;
}

.announcer a:hover {
  color: #99ccff;
}

.date {
  padding: 0 5px;
}

.time {
  padding: 0 10px;
}
.collection {
  text-decoration: none;
  
}
.msg-info {
  position: relative;
  bottom: 20px;
  margin-left: 60px;
}

.location {
  text-align: left;
  margin-top: 30px;
}

.location a {
  text-decoration: nont;
  font-size: 18px;
  color: #99ccff;
}

.msg-desc {
  width: 630px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}