.nav {
  margin: 0 auto;
  padding: 20px 30px;
  background: #303030;
}

.nav li {
  list-style-type: none;
  display: inline-block;
}
.nav a {
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}